# ignored folders
material/
images/
result/
checkpoints/
VITrun_ver6/
inputTest/
SAM_2.egg-info/
sam2/
segmented_image/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# api key
.env