# ignored folders
material/
result/
checkpoints/
VITrun_ver6/
inputTest/
SAM_2.egg-info/
sam2/
sam2_configs/
VITModel/
output/
Lib/
Scripts/

# game images
GoldenHoYeah/
*.mkv

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# api key
.env
.vscode/
.DS_Store
*-checkpoint.ipynb
.venv
pyvenv.cfg
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
test.ipynb
temp/

*.png
*grid.pkl