# ignored folders
material/
result/
Scripts/
Lib/
inputTest/
temp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# api key
.env
.vscode/
.DS_Store
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
test.ipynb
temp/
